body {
    margin: 32px;
}

.applicationCard {
    display: flex;
    margin: 16px;
    padding: 24px;
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    text-align: left;
    font-size: 15px;
    font-family: 'Inconsolata', sans-serif;
    font-weight: 600;
    border-radius: 8px;
    text-decoration: none;
    color: #333333;
    background: #eaeaea;
    transition: background 0.25s;
}

.applicationCard:hover {
    background: #ffffff
}

.applicationCard__title {
    margin-top: 0;
    font-size: 1.4em;
    font-weight: bold;
}

.applicationCard__body {
    line-height: 1.5;;
}

.applicationCard__body:last-child {
    margin-bottom: 0;
}